<!--  -->
<launch>

  <arg name="machine_type"/>  

  <arg name="node_name"             default="velocity_smoother"/>
  <arg name="nodelet_manager_name"  default="spdmux_nodelet_manager"/>
  <arg name="config_file"           default="$(find br_navigation)/param/$(arg machine_type)/smoother.yaml"/>
  <!-- smooth input -->
  <arg name="raw_cmd_vel_topic"     default="move_base/raw_cmd_vel"/>
  <!-- arg name="raw_cmd_vel_topic"     default="cmd_vel_mux/output/cmd_vel"/ -->
  <!-- smooth output -->
  <arg name="smooth_cmd_vel_topic"  default="cmd_vel_mux/input/navi"/>
  <!-- arg name="smooth_cmd_vel_topic"  default="cmd_vel"/ -->
  <arg name="robot_cmd_vel_topic"   default="cmd_vel_send"/>
  <arg name="odom_topic"            default="odom"/>

  <node pkg="nodelet" type="nodelet" name="$(arg node_name)"
        args="load velocity_smoother/VelocitySmootherNodelet $(arg nodelet_manager_name)" output="screen">
        
    <!-- parameters -->
    <rosparam file="$(arg config_file)" command="load"/>

    <!-- velocity commands I/O -->
    <remap from="$(arg node_name)/raw_cmd_vel"    to="$(arg raw_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/smooth_cmd_vel" to="$(arg smooth_cmd_vel_topic)"/>

    <!-- Robot velocity feedbacks -->
    <remap from="$(arg node_name)/robot_cmd_vel"  to="$(arg robot_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/odometry"       to="$(arg odom_topic)"/>

    <param name="use_set_velocity" value="true" />
  </node>
</launch>
